.d-flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.content-container {
  justify-content: space-around;
}

.table {

}

.form {
  align-items: end;
  gap: 18px;
}

.form-title {
  align-self: flex-start;
  font-weight: bold;
  font-size: 28px;
  color: #7fc07f;
}

.table-head {
  justify-content: space-between !important;
  width: 291px;
}

.table-refresh {
  max-height: 20px;
  align-self: center;
}

.table-items {
  border: 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  justify-content: space-between;
}

.element {
  justify-content: space-between;
  font-size: 21px;
  font-weight: bold;
}

.btn {
  color: white;
  background-color: #42a242;
  border: none;
  height: 27px;
  border-radius: 15px;
  transition: 2s;
}

.btn:hover {
  background-color: #7fc07f;
  width: 60px;
}